.card {
    background-color: #F2F2F2;
    width: 254px;
    height: 299px;
    transition: background-color .7s;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card img {
    filter: grayscale(100%);
}

.bord {
    position: absolute;
    width: 254px;
    height: 0;
    background-color: #00000099;
    color: white;
    transition: height .3s ease-in-out;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bord span {
    display: none;
    opacity: 0;
    transition: opacity .3s ease;
    margin-bottom: 5px;
}

.card:hover {
    background-color: var(--blue);
}

.card:hover .bord {
    height: 116px;
}

.card:hover img {
    filter: none;
}

.card:hover .bord span {
    display: block;
    opacity: 1;
}