.box {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1150px;
}

.box h2 {
    color: var(--blue);
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 0;
    margin-top: 150px;
}


.label {
    position: relative;
}

.label::before {
    content: "";
    position: absolute;
    left: 399px;
    top: 0;
    bottom: 0;
    width: 19px;
    background: url("/searchIcon.svg") center / contain no-repeat;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}


.searchInput {
    width: 439px;
    height: 70px;
    flex-shrink: 0;
    border: 0.5px solid #DFDFDF;
    background-color: white;
    color: black;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 23px;
    
    -webkit-transition: 0.5s;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    outline: none;
}

.searchInput::placeholder {
    color: #DFDFDF;
}


.searchInput:focus-visible {
    border: 0.5px solid var(--blue);
}

.tableNode {
    width: 100%;
    color: #39A7D2;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: 140.523%;
    border-collapse: collapse;
    margin-top:32px;
}

.tableNode td :first-child{
    padding-top: 26px;
}
.tableNode td {
    padding-top: 13px;
}

.tableHeaders {
    border-bottom: 1px solid #DFDFDF;
}

.tableNode td {
    width: 25%; 
}

.tableNode tr {
    text-align: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.tableNode tr :first-child {
    text-align: left;
}

.tableHeaders th {
    font-family: InterSemiBold;
    color: #39A7D2;
}

.tableBody td {
    color: #242424;
    font-family: InterMedium;
}


@media(max-width: 600px) {
    .box {
        margin-left: 20px;
        margin-right: 20px;
    }
    .tableNode{
        font-size: 14px;
    }

    .tableNode td :first-child{
        padding-top: 20px;
    }
    .tableNode td {
        padding-top: 10px;
        line-height: 100%;
        padding-right: 0.5em;
        font-family: Inter;
        letter-spacing: -0.05em;
    }

    .tableNode td :nth-last-child() {
        padding-right: 0;
    }

    .label::before {
        content: "";
        position: absolute;
        left: 270px;
        top: 0;
        bottom: 0;
        width: 19px;
        background: url("/searchIcon.svg") center / contain no-repeat;
    }

    .searchInput {
        width: 300px;
        height: 45px;
    }
}