.first {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

}

.back {
    height: 100vh;
    width: auto;
}

.first .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 50px;
}

.title {
    width: 537px;
    height: auto;
}

.title h1 {
    font-size: 51px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: Apex;
    font-weight: 400;
}

.title h1 span {
    color: var(--blue);
    font-family: Apex;
    font-weight: 400;
}

.title h3 {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    top: -10px;
    font-family: Apex;
    font-weight: 500;
}

.title h6 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: Inter;
    font-weight: 200;
}

.title button {
    width: 261px;
    height: 57px;
    color: white;
    background-color: var(--blue);
    margin-top: 40px;
    cursor: pointer;
}

.programms {
    margin: 50px;
    margin-bottom: 100px;
}

.programms h2{
    margin-bottom: 10px;
}

.name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 985px;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: inter;
}

.line {
    width: 29px;
    border: 1px solid var(--blue);
}

.box {
    margin-bottom: 50px;
}

.text {
    max-width: 1100px;
    margin-top: 7px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #24242499;
}

.history {
    background-image: url(/history.jpg);
    background-size: contain;
    width: 100vw;
    height: 17vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

.history h3 {
    font-family: mr_ApexMk3;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    color: white;
}

.history a {
    display: block;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    width: 260px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    padding: 21px 10px;
}

.master {
    margin: 90px 50px;
}

.master h2{
    margin-bottom: 40px;
}

.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow img {
    display: block;
}

.master h3 {
    color: var(--blue);
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 0;
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    max-width: 1300px;
}

.master p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 1120px;
}

.halls{
    margin-top: -40px;
}

.halls h2 {
    color: var(--blue);
    margin-bottom: 50px;
    padding: 0;
    margin-left: 50px;
}

@media(max-width: 1000px) {
    .history {
        height: 170px;
        background-size: cover;
    }
}

@media(max-width: 980px) {
    .name a {
        width: 150px;
        height: 90px;
        margin: 0;
        margin-top: 10px;
        margin-right: 10px;
        padding: 8px 12px;
    }

    .name {
        justify-content: flex-start;
        width: 600px;
    }

    .back {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .first {
        background-color: #ffffff8f;
    }

    .box {
        flex-direction: column;
    }
}

@media(max-width: 740px) {}

@media(max-width: 600px) {


    .title {
        max-width: calc(100vw - 80px);
    }

    .title h1 {
        font-size: 40px;
    }

    .title h3 {
        font-size: 28px;
    }

    .programms {
        margin: 30px;
    }

    .back {
        right: 0;
        max-width: 100vw;
        object-fit: fill;
        height: 100vh;
    }

    .first {
        background-color: #ffffffa6;
    }
    .master{
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .master h2{
        text-align: center;
    }
    .master p{
        padding: 0 30px;
    }

    .master .cont{
        max-width: 400px;
    }
}

@media(max-width: 500px) {
    .first .box {
        margin-left: 0px;
        max-width: 100vw;
    }

    .title{
        max-width: calc(100vw - 40px);
    }

    .title h1 {
        font-size: 36px;
    }

    .title h3 {
        font-size: 23px;
    }

    .title h6 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .history{
        padding-left: 30px;
    }
    .halls h2{
        margin-left: 30px;
    }
}