:root {
  --blue: #39A7D2;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  scroll-behavior: smooth;
  font-family: Inter;
  font-weight: 200;
}

h2, h2 span{
  font-family: Apex;
  font-weight: 500;
  font-size: 45px;
}

h2{
  color: var(--blue);
}
h2 span{
  color: white;
}

h3, h4{
  font-family: Inter;
  font-weight: 400;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: white
}

a {
  color: inherit;
  text-decoration: none;
}

#modal-portal button{
  color: var(--blue);
  background-color: white;
  cursor: pointer;
  margin-top: 10px;
}

#modal-portal input[type = "radio"]{
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: var(--blue);
  width: 1.15em;
  height: 1.15em;
  border: .15em solid var(--blue);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

#modal-portal input, label{
  cursor: pointer;
  margin-top: 5px;
}

#modal-portal .modal-form{
  display: flex;
  flex-direction: row;
}

#modal-portal input[type = "radio"]::before{
  content: '';
  width: 0.5em;
  height: 0.5em;
  color: #39A7D2;
  border-radius: 50%;
  transform: scale(0);
  transition: .12 transform ease-in-out;
  box-shadow: inset .45em .45em var(--blue);
}

#modal-portal input[type = "radio"]:checked::before{
  transform: scale(1);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

#city0 {
  right: 00px;
  position: relative;
}

@media(max-width: 1440px) {
  #city0 {
    right: 200px;
    position: relative;
  }
}

@media(max-width: 1240px) {
  #city0 {
    right: 500px;
    position: relative;
  }
}

@media(max-width: 940px) {
  #city0 {
    right: 800px;
    position: relative;
  }
}

@media(max-width: 640px) {
  #city0 {
    right: 852px;
    position: relative;
  }
}

@font-face {
  font-family: Inter;
  src: url(/Inter-Light.ttf);
  weight: 300
}

@font-face {
  font-family: InterMedium;
  src: url(/Inter-Medium.ttf);
  weight: 300
}

@font-face {
  font-family: InterSemiBold;
  src: url(/Inter-SemiBold.ttf);
  weight: 300
}

@font-face {
  font-family: Apex;
  src: url(/apex-b.ttf);
  weight: 500
}