.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.box p {
    margin-left: 10px;
}

@media(max-width: 450px) {
    .box p {
        font-size: 15px;
    }
}