.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-roboto-mono);
    width: calc(100vw - 100px);
    margin: 10px 50px;
    position: absolute;
}

.header a {
    color: #000;
    margin: 0 10px;
    transition: color .4s ease-in-out;
    padding: 20px;
    position: relative;
}

.header a:hover {
    color: var(--blue);
}

.header .active {
    color: var(--blue);
}

.header .active:hover {
    cursor: default;
}

.tel_wh {
    color: white;
    position: relative;
    top: -8.3px;
    margin: 5px 5px !important;
    padding: 0 0 !important;
    cursor: pointer;
}
.tel_mob{
    text-wrap: nowrap;
    margin: 5px 5px;
}

.tel_bl {
    color: black;
    position: relative;
    top: -8.3px;
    padding: 5px 5px;
    cursor: pointer;
}

.icon {
    cursor: pointer;
    padding: 1px;
}

.iconLink{
    padding: 0 0 !important;
    margin: 0 0 !important;
}

.mob_menu {
    width: 100vw;
    position: fixed;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 0;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: menu;
    animation-duration: 0.7s;
    transition: .5s;
}

.mob_menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.mob_menu a {
    color: white;
}

.mob_menu a:hover {
    text-decoration: underline;
    color: white;
}

.mob_menu .active {
    text-decoration: underline;
    color: white;
}

.mob_menu .active:hover {
    cursor: default;
}

.mob_menu .info {
    display: flex;
    flex-direction: row;
}

.mob_menu .tel_bl,
.tel_wh {
    color: white;
}

.mob_menu .burger {
    position: fixed;
    right: 50px;
    top: 50px;
    background-color: var(--blue);
    opacity: 1;
    animation: opacity 1s;
}

.mob {
    width: 50px;
    height: 42px;
    z-index: 2;
    display: none;
    overflow: hidden;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    background-color: #ffffff00;
    margin-top: -5px;
}



.pc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes menu {
    0% {
        width: 0;
    }

    70% {
        width: 90vw;
    }

    80% {
        width: 98vw;
    }

    100% {
        width: 100vw;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.contact{
    display: flex;
    flex-direction: column;
}

.button{
    width: 261px;
    height: 57px;
    color: white;
    background-color: var(--blue);
    margin-top: 40px;
    cursor: pointer;

}

.header_city{
    display: none;
    color: var(--blue);
}

@media(max-width: 1100px) {
    .pc {
        display: none;
    }

    .pc_tel {
        display: none;
    }

    .mob {
        display: block;
    }

    .contact{
        display: none;
    }

    .header_city{
        display: block;
    }
}

@media(max-width: 980px){
    .header_city{
        color: white !important;
        box-shadow: inset 10px 10px 100px 10px rgba(128, 128, 128, 0.14);
    }
    .header_city div{
        color: white;
        box-shadow: 1px 1px 100px 1px rgba(128, 128, 128, 0.705);

    }
    .header_city div span{
        color: var(--blue);
    }
}

@media(max-width: 600px){
    .header_city{
        display: flex;
        flex-direction: column;
        box-shadow: inset 10px 10px 100px 10px rgba(189, 189, 189, 0.14);
    }
    .header_city div{
        color: var(--blue);
        box-shadow: 1px 1px 100px 1px rgba(190, 190, 190, 0.76);
    }
}

@media(max-width: 500px){
    .header{
        margin: 10px 20px;
        width: calc(100vw - 40px);
    }
}
