.default {
    display: block;
    margin: 10px 10px 5px 0;
    padding: 13px 19px;
    cursor: pointer;
    background-color: #D9D9D9;
    color: #9B9B9B;
    transition: color .5s ease-in-out;
    transition: padding .3s ease-in-out;
}

.default:hover {
    color: var(--blue);
    transition: color .5s ease-in-out;
    background-color: #dededec3;
}

.active {
    display: block;
    margin: 10px 10px 5px 0;
    padding: 13px 19px;
    cursor: default;
    background-color: var(--blue);
    color: #fff;
}

.appear {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    min-height: 211px;
    display: flex;
    align-items: stretch;
    transition: .5s ease-in-out;
}

.appear image {
    margin-right: 20px;
}

.disappear {
    display: none;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    max-width: 745px;
    transition: .5s ease-in-out;
    margin-left: 20px;
}

.name {
    font-size: 22px;
    color: var(--blue);
    margin-bottom: 10px;
    transition: .3s ease-in-out;
}

#name {
    transition: color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.button {
    width: 133px;
    height: 57px;
    color: white;
    background-color: var(--blue);
    cursor: pointer;
    margin-top: 28px;
}

.det {
    margin-top: 10px;
    font-size: 18px;
    color: grey;
}

.span {
    animation: toLeft .9s ease-in-out;
}


.span_active {
    color: var(--blue);
    cursor: auto;
    text-decoration: underline;
    animation: toLeft 0.9s ease-in-out;
}

.det_cont {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    background-color: #ffffffa0;
    height: 420px;
    padding: 25px 0;

}

.det_cont {
    animation: toDown .7s ease-in-out;
}

.det_cont a {
    animation: toDownA .8s ease-in-out;
}

.det_cont a span {
    animation: toDownS .7s ease;
}

@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes toDown {
    0% {
        height: 0;
    }

    100% {
        height: 420px;
    }
}

@keyframes toDownA {
    0% {
        opacity: 0;
        height: 10px;
    }

    20% {
        opacity: .01;
    }

    100% {
        height: 80px;
    }
}

@keyframes toDownS {
    0% {
        height: 0;
    }

    100% {
        height: auto;
    }
}

@media(max-width: 1000px) {
    .appear {
        flex-direction: column;
    }

    .name {
        margin-top: 20px;
    }

    .text {
        margin-left: 0;
        margin-top: 0px;
        width: calc(100vw - 100px - 400px);
    }

    .appear {
        align-items: center;
        flex-direction: row-reverse;
    }
}

@media(max-width: 740px) {
    .appear {
        flex-direction: column;
        align-items: flex-start;
    }

    .text {
        width: auto;
    }
}