.footer {
    background-color: #242424;
    color: white;
    margin-top: -5px;
}

.footer div {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
}

.footer ul li {
    list-style-type: none;
    padding: 10px;
    margin-left: 40px;
}

.footer span {
    position: relative;
    top: -20px;
    left: 20px;
}